@import "./article-card-block";
@import "./typo";
@import "./style/hljs.scss";
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2d3748;
}
p {
  color: #4a5568;
}
a {
  text-decoration: none;
  color: inherit !important;
}
img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.center-background-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-border-bottom {
  border-bottom: 1px solid #eaecef !important;
}
@for $i from 1 through 9 {
  .opacity-#{$i} {
    opacity: ($i/ 10);
  }
}
.hover-blue {
  &:hover {
    color: #1976d2;
  }
}
a {
  color: #6200ea !important;
}
.v-application--wrap {
  background-color: #eef0f1;
}
.v-application {
  code {
    background-color: none !important;
    color: none !important;
  }
}

blockquote {
  margin: 0;
  padding-left: 1.4rem;
  border-left: 4px solid #dadada;
}
// pre {
//   background-color: #333;
//   code {
//     background-color: #333 !important;
//   }
// }
.comment-box {
  background-color: white;
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.2);
}

.article-view {
  box-shadow: 0 0 50px #e1e1e1;
}
.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.zi-n1 {
  z-index: -1;
}
.opacity-7 {
  opacity: 0.7;
}

.bs-border {
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.2);
}
